<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>
    <link rel="stylesheet" href="/css/admindashboard.css">
</head>
<body>
    <p >
        <a style="color: #FD643D; margin-left: 2rem;" href="/">home</a>
    </p>
    <h1 style="text-align: center; color: #fff;">Fitbucket admin dashboard</h1>
    <div style="width: 100%; display: flex; justify-content: space-between; padding: 0 3rem;box-sizing: border-box;">
        <p style="color: red;"><%=adminName%></p>
        <a href="/admin/logout"><button  style="width: 4rem; height: 2rem; cursor: pointer; ">Logout</button></a>
    </div>
    <section class="adminDash_sec">
         <div class="assideDiv">
                <h3>General</h3>
                <ul>
                    <li>Dashboard</li>
                    <li>Messages</li>
                    <li><a style=" color: #fff;" href="#blogsSection">Blogs</a></li>
                </ul>
         </div>
         <div class="dataDiv">
            <div class="total_register_div">
                <h3>Total registered users:</h3>
                <h3><%=userData.length%></h3>
            </div>
            <br>
             <div class="userlistDiv">
                <% if(1){%>
                <% userData.forEach((elem,ind)=>{ %>
                    <div class="userDetailDiv">
                        <h3>User <%= ind+1%></h3>
                        <hr>
                       <h4> <%=elem.name%></h4>
                       <h4> <%=elem.email%></h4>
                       <form action="/admin/dashboard/delete/<%=elem._id%>" method="post">
                         <button>remove</button>
                       </form>
                    </div>
                <%  })%>

                <%}%>
             </div>
         </div>

    </section>
    <section id="blogsSection">
            <div class="blogContainer">
                <% blogData.reverse().forEach((elem)=>{%>
                      <div style="width: 100%; border: 1px solid #FD643D;">
                          <div style="display: flex; padding:0 1rem; justify-content: space-between;">
                            <h3>Title: <%=elem.title%></h3>
                            <h3>Author: <%=elem.author%></h3>
                          </div>
                          <div  style="display: flex; white-space: pre-wrap; background-color: #272727; padding:0 1rem; justify-content: space-between;">
                            <p><%=elem.blogData%></p>
                          </div>
                          <div style="display: flex;">
                             <form action="/blogpage/delete/<%=elem._id%>" method="POST">
                                <button style="margin-left: 1.4rem;" class="signupBtn">remove</button>
                             </form>
                             <form action="/blogpage/approve/<%=elem._id%>" method="POST">
                              
                                   <%if(elem.isVerified){%>
                                      <p style=" border:1px solid #FD643D; padding: 0.2rem; position: absolute; right: 2rem;">approved</p>
                                    <%}else{%>
                                        <button style="margin-left: 1.4rem;" class="signupBtn"> approve </button>
                                    <%}%>
                             </form>
                          </div>
                      </div>
                <% })%>
            </div>
    </section>
</body>
</html>