<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>
    <link rel="stylesheet" href="/css/admindashboard.css">
</head>
<body>
    <h1 style="text-align: center; color: #fff;">Fitbucket admin dashboard</h1>
    <div style="width: 100%; display: flex; justify-content: space-between; padding: 0 3rem;box-sizing: border-box;">
        <p style="color: red;"><%=adminName%></p>
        <a href="/admin/logout"><button  style="width: 4rem; height: 2rem; cursor: pointer; ">Logout</button></a>
    </div>
    <section class="adminDash_sec">
         <div class="assideDiv">
                <h3>General</h3>
                <ul>
                    <li>Dashboard</li>
                    <li>Messages</li>
                    <li>Setting</li>
                </ul>
         </div>
         <div class="dataDiv">
            <div class="total_register_div">
                <h3>Total registered users:</h3>
                <h3><%=userData.length%></h3>
            </div>
            <br>
             <div class="userlistDiv">
                <% if(1){%>
                <% userData.forEach((elem,ind)=>{ %>
                    <div class="userDetailDiv">
                        <h3>User <%= ind+1%></h3>
                        <hr>
                       <h4> <%=elem.name%></h4>
                       <h4> <%=elem.email%></h4>
                       <form action="/admin/dashboard/delete/<%=elem._id%>" method="post">
                         <button>remove</button>
                       </form>
                    </div>
                <%  })%>

                <%}%>
             </div>
         </div>

    </section>
</body>
</html>