<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fit Bucket</title>
    <!-- <link rel="stylesheet" href="css/home.css"> -->
    <link rel="stylesheet" href="css/blogs.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
</head>

<body>

    <%- include('header')%>

        <!-- -----------------------(end of navbar)---------------------------- -->

        <main class="mainBlog">
            <div class="mainDiv">
                <div style="display:flex; justify-content: space-between ; align-items: center;">
                    <div>
                        <h3>Hello <span style="color: red;">
                                <%=userName%>
                        </span>, you can read fitness blog here..</h3>
                    </div>
                    <a style="color: #fff; text-decoration: none;" href="/createBlog">
                        <button  class="create_btn" style="border-radius: 0.3rem;">Create Blog</button>
                    </a>           
                   
                </div>
                <section class="articleSection">
                    <% data.reverse().forEach((elem,index)=>{%>
                            <article class="article_card">
                                <div class="card-content">
                                    <h2>
                                        <%=index+1%>) <%=elem.title%>
                                    </h2>
                                    <p style="line-height: 0;">
                                        <span style="color: #FD643D;">Author:</span> <%=elem.author%>
                                    </p>
                                    <div class="blogParaContainer">
                                        <p class="blogHeadline">
                                            <%=elem.blogData%>
                                       </p>
                                    </div>
                                    <div class="status">
                                        <p  class="date_posted">
                                          <small style="color:#FD643D;">Posted on:</small>
                                           <small> <%=elem.createdTime%></small>
                                        </p>
                                        <form action="/blogpage/posts/<%=elem._id%>" method="GET">
                                            <button class="read-btn">Full Read</button>
                                        </form>
                                    </div>
                                </div>

                               <div class="article_img">
                                    <img src="../uploads/<%=elem.blogImg%>" alt="blog1 image" id=img1>
                               </div>
                            </article>
                        
                        <%})%>
                </section>

               
            </div>
            <div class="centerloadMoreBtn">
                <button class="loadMoreBtn" onclick="loadMore()">Load More</button>
            </div>


            <!-- <section class="commentSection">
            <div class="commentBox">
                <p>Leave a Comment</p>
                    <form class="commentForm">
                        <input type="text" placeholder="Name">
                        <input type="email" placeholder="Email">
                        <textarea placeholder="Type your comment here..." rows="10"></textarea>
                        <button type="submit">Comment</button>
                    </form>
            </div>
        </section> -->
        </main>

        <!-- -----------(footer)---------- -->
        <%- include('footer')%>

            <script src="./js/home.js"></script>
            <script src="./js/blogs.js"></script>

</body>

</html>