<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/chat.css">
    <link rel="stylesheet" href="css/home.css">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
</head>

<body>
    <header>
        <nav class="navbar">
            <div class="container">
                <div class="logo">
                    <img  src="/assets/fit_logo.png" alt="">
                </div>
                <ul class="nav-links">
                    <li><a href="/">Home</a></li>
                    <li><a href="/askquery">Fit Q&A</a></li>
                    <li><a href="/blogs">Blog</a></li>
                    <li><a href="/task">Tasks</a></li>
                    <li><a href="/contact">Contact Us</a></li>
                </ul>
                <div>
                    <%if(msg){%>
                        <a href="/userAuth/logout" ><button class="signupBtn">logout</button></a>
                    <%}else{%>
                    <a href="/userAuth/login"><button class="signupBtn">login</button></a>
                    <%}%>
                </div>
                <button id="sidebarBtn" onclick="sidebar_open()">☰</button>
        </nav>
        <div  id="mySidebar" >
            <button onclick="sidebar_close()">Close &times;</button>
            <a href="/">Home</a>
            <a href="/askquery">Fit Q&A</a>
            <a href="/blogs">Blog</a>
            <a href="/task">Tasks</a>
            <a href="/sampark">Contact Us</a>
          </div>
    </header>
    
    <section class="chat_sec">
       
        <div style="height: 5rem;">
            <h2>Welcome <span style="color: red;"><%=msg%></span>, post your any fitness query here..</h2>

        </div>
        <div class="chat_inp">
            <form class="chat_inp" method="post">
                <input name="name" value="<%=msg%>" required placeholder="enter your name.."><br>
                <textarea name="textarea" placeholder="enter your query.."></textarea><br>
                <button class="createBtn">post</button>
            </form>
        </div>
        <div class="chat_box">
            <h1 style="display: block">Queries</h1>
            <% queryData.forEach((elem,ind)=>{ %>
                <div class="query_box">
                    <div>
                        <h3><img style="width: 2rem; border-radius: 50%;" src="../assets/profile_logo.jpeg"/> <%= elem.name %></h3>
                        <br>
                        <p><%= elem.askQuery %></p>
                    </div>
                    <div>
                        <form style="display: inline;" action="/askquery/edit/<%=elem._id%>" method="get">
                            <% if(elem.name==msg){%>
                                <button>edit</button>
                            <%}%>
                        </form>
                        <button onclick="replyfunc(<%=ind%>)">reply</button>
                        <form style="display: inline;" action="/askquery/delete/<%=elem._id%>" method="post">
                           <% if(elem.name==msg){%>
                            <button>delete</button>
                            <%}%>
                        </form>
                       
                    </div>

                <!-- *************************((reply-popup))************************** -->

                    <section>
                        <div class="replyPopup">
                        
                            <form action="/askquery/reply/<%=elem._id%>" method="post">
                                    <p class="popPara">add reply</p>
                                    <input style="display: none;" type="text" name="qid" value="<%=elem._id%>" id="">
                                    <input style="width:90%;" type="text" name="name" value="<%=msg%>" id="">
                                    <textarea placeholder="enter something.." name="replies"></textarea><br>
                                    <button class="popBtn">add</button>
                            </form>
                           <button onclick="removePop(<%=ind%>)">cancel</button>
                           
                        </div>
                    </section>

                <!-- *************************((end))******************************** -->

                    <section class="replySection">
                       <form action="/askquery/reply/<%=elem._id%>" method="get">
                        <!-- <input name="inpId" value="<%=elem._id%>" type="text"> -->
                        <button  class="replyBtn"  style="display: inline;">see replies</button>
                       </form>
                    </section>
                </div>
               
           <% }) %>
            
        </div>

    </section>
  <div>
   
  </div>

    
    <footer>
        <div id="footer-content">

        <div class="footerlogo">
            <img  src="/assets/fit_logo.png" alt="logo"> 
            <p>copyright
                <i class="fa-regular fa-copyright" style="color: #b3b3b3;"></i>
                2023 Fit Bucket
            </p>
        </div>

        <div>
            <h3>Useful Links</h3>
            <ul>
                <li><a href="/blogs">Blog</a></li>
                <li><a href="/task">Tasks</a></li>
                <li><a href="/sampark">Contact Us</a></li>
            </ul>
        </div>
       
        </div>
        
    </footer>
    <script src="./js/home.js"></script>
</body>
<script src="./js/chat.js"></script>

</html>