<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/chat.css">
    <link rel="stylesheet" href="css/home.css">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
</head>

<body>
    <%- include('header')%>
    <!-- -----------------------(navbar_end)--------------------- -->
    
    <section class="chat_sec">
       
        <div style="height: 5rem; margin: 0 1rem;">
            <h2>Welcome <span style="color: red;"><%=name %></span>, post your any fitness query here..</h2>
        </div>

        <div class="chat_inp">
            <form class="chat_inp_form" method="post">
                <input name="name" value="<%=name%>" required placeholder="enter your name.."><br>
                <textarea name="textarea" placeholder="enter your query.."></textarea><br>
                <button class="createBtn">post</button>
            </form>
        </div>
<!-- ---------------------(chat-gpt)---------------------- -->
        <div class="askAi">
            <h3>Ask ai about fitness query <i class="fa-solid fa-robot"></i></h3>
            <a href="/askquery/askai">
                <button>Try out</button>
            </a>
        </div>

        <div class="chat_box">
            <h1 style="display: block">Queries</h1>
            <% queryData.reverse().forEach((elem,ind)=>{ %>
                <div class="query_box">
                    <div>
                        <h3 style="display: flex; align-items: center; justify-content: space-between;">
                            <span style="display: flex; align-items: center;">
                                <img style="width: 2rem; border-radius: 50%;" src="../assets/profile_logo.jpeg"/>
                                <span style="text-decoration:underline; margin-left: 1.2rem;"> <%= elem.name %> </span>
                            </span>
                            <span class="curr_time">
                                <%= elem.currentTime %>
                            </span>
                        </h3>
                        <br>
                        <p class="askQuery"><%=elem.askQuery %> </p>
                    </div>
                    <div>
                        <form style="display: inline;" action="/askquery/edit/<%=elem._id%>" method="get">
                            <% if(elem.name==name){%>
                                <button>edit</button>
                            <%}%>
                        </form>
                        <button onclick="replyfunc(<%=ind%>)">reply</button>
                        <form style="display: inline;" action="/askquery/delete/<%=elem._id%>" method="post">
                           <% if(isAdmin==1||elem.name==name){%>
                            <button>delete</button>
                            <%}%>
                        </form>
                       
                    </div>

                <!-- *************************((reply-popup))************************** -->

                    <section class="popupSec">
                        <div class="replyPopup">
                        
                            <form action="/askquery/reply/<%=elem._id%>" method="post">
                                    <p class="popPara">Add reply</p>
                                    <input style="display: none;" type="text" name="qid" value="<%=elem._id%>" id="">
                                    <input  type="text" name="name" value="<%=name%>" id="">
                                    <textarea placeholder="enter your reply here.." name="replies"></textarea><br>
                                    <div>
                                        <button type="submit" class="popBtn">add</button>
                                        <button type="button" onclick="removePop(<%=ind%>)">cancel</button>
                                    </div>
                            </form>
                          
                           
                        </div>
                    </section>

                <!-- *************************((end))******************************** -->

                    <section class="replySection">
                       <form action="/askquery/reply/<%=elem._id%>" method="get">
                        <!-- <input name="inpId" value="<%=elem._id%>" type="text"> -->
                        <button  class="replyBtn"  style="display: inline;">
                            <i class="fa-solid fa-angles-down"></i> see replies
                        </button>
                       </form>
                    </section>
                </div>
               
           <% }) %>
            
        </div>

    </section>
  <div>
   
  </div>

    <!-- -----------(footer)---------- -->
    <%- include('footer')%>
    
    <script src="./js/home.js"></script>
</body>
<script src="./js/chat.js"></script>

<script src="./lib/moment/moment.min.js"></script>
<script>
     console.log(moment())
</script>
</html>