<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posts</title>
    <link rel="stylesheet" href="/css/blogs.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
</head>
<body>
    <%- include('header')%>
    
    <main class="post-main">
        <p >
            <a style="color: #fff; text-decoration: none; margin-left: 2rem;" href="/blogs">
                <i style="margin:0 0.3rem;" class="fa-solid fa-backward"></i>blogs
            </a>
        </p>
        <section class="post_detail_sec">
            <div class="banner_img">
                <img src="/uploads/<%=fullBlog.blogImg%>" >
            </div>
            <h1 class="blogHeading"><%=fullBlog.title%></h1>
            <div class="about-author">
                <address>
                    <p class="postAuthor"> <span style="color: #FD643D" >Written by :</span> <%=fullBlog.author%></p>
                    <p class="postDate"> <%=fullBlog.createdTime%></p> 
                </address>
            </div>
        </section>
        <hr>
        <article class="full_article" style="white-space: pre-wrap;">
              <p >
                <%=fullBlog.blogData%>
              </p>
        </article>

        <hr>
    </main>

    <!-- -----------(footer)---------- -->
    <%- include('footer')%>
    <script src="./js/home.js"></script>

</body>
</html>