<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posts</title>
    <link rel="stylesheet" href="/css/blogs.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
</head>
<body>
    <%- include('header')%>
    
    <main class="post-main">
        <p >
            <a style="color: #FD643D; margin-left: 2rem;" href="/blogs">Blog-page</a>
        </p>
        <section class="post_detail_sec">
            <div class="banner_img">
                <img src="https://images.unsplash.com/photo-1599058917212-d750089bc07e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8d29ya291dHxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=600&q=60" alt="banner-image" class="banner_post_img">
            </div>
            <h1 class="blogHeading"><%=fullBlog.title%></h1>
            <div class="about-author">
                <address>
                    <p class="postAuthor"> <span style="color: #FD643D" >Written by :</span> <%=fullBlog.author%></p>
                    <p class="postDate"> <%=fullBlog.createdTime%></p> 
                </address>
            </div>
        </section>
        <hr>
        <article class="full_article" style="white-space: pre-wrap;">
              <p >
                <%=fullBlog.blogData%>
              </p>
        </article>

        <hr>
    </main>

    <!-- -----------(footer)---------- -->
    <%- include('footer')%>
    <script src="./js/home.js"></script>

</body>
</html>